/* Color Theme Swatches in Hex */
:root {
    --teal-1: #025259;
    --teal-2: #007172;
    --teal-3: #F29325;
    --teal-4: #D94F04;
    --teal-5: #F4E2DE; 
  }
  


  html,body{
    width: 100%; height: 100%;
    padding:0px; margin:0px;
    margin-bottom: 50px; 
    font-family: Helvetica, Verdana, sans-serif;
    background-color: var(--teal-3);
  }
  
  .namecard {
    max-width: 600px; height: auto;
    border: 0px solid var(--teal-2);
    outline: 8px solid var(--teal-2);
    border-radius: 25px;
    margin: 60px auto;
    background-color: white;
    color: black;
    line-height: 0px;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.5), 0 8px 10px 1px rgba(0,0,0,.6), 0 3px 14px 2px rgba(0,0,0,1);
    box-sizing: border-box;
    overflow: auto;
  }
  
  

  .namecard .text-container-overlap {
    position: relative ;
    background-color: transparent;
    margin: 30px;
    margin-top: -110px;
  }
  .namecard .profile-image-container img{
    padding: 0px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 50%);
    max-width: 100%;
    height:auto;
    margin-bottom: 0px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px 2px 40px rgba(0, 0, 0, .5);
  }
  .namecard .profile-image-container {
    max-width: 100%; 
    height:auto;
    overflow: hidden;
}
 
  .namecard h4.courseName{
    font-size: 90%;
    line-height: 100%;
  }
  .namecard h5.collegeName{
    font-size: 80%;
    margin-top: -10px;
    line-height: 15px;
  }
  .namecard p.schoolName{
    margin-top: -15px;
    font-size: 70%
  }
  .namecard img.icon{
    width:20px; height:20px;
    vertical-align: middle;
  }

  .namecard .contacts h6,p {
    margin-left: 20px;
  }

  .namecard .contacts h5{
    padding-top: 1px;
  }

  .namecard .contacts h5.content{
    margin-left: 20px;
  }

  .namecard a:link {
    color: var(--teal-1);
    text-decoration-color: lightgray;
  }
  .namecard a:visited {
    color: var(--teal-1);
    text-decoration-color: lightgray;
  }
  .namecard a:hover {
    color: orange;
    text-decoration-color: lightgrey;
  }

  .footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: transparent; 
    margin-left: -10px; 
    padding-bottom: 10px; 
    text-align: center;
    color: var(--teal-5);
    line-height: 24px;
}

  @media (max-width: 680px) {
    .namecard {
        margin-top: 60px; 
        margin-left: 40px;
        margin-right: 40px;
    }
}

@media (min-width: 460px) {
  .namecard {
      font-size: 150%; /* Increase font size */
  }
  .namecard .text-container-overlap {
    margin-top: -150px;
  }
}

@media (min-width: 580px) {
  .namecard {
      font-size: 200%; /* Increase font size */
  }
  .namecard .text-container-overlap {
    margin-top: -200px;
  }
}

@media (max-width: 399px) {
  .namecard {
      display: none; /* Hide the content */
  }
  body::before {
      content: "The website doesn't support your device."; /* Display the message */
      font-size: 20px; /* Adjust the font size as needed */
      text-align: center;
      display: block;
      padding: 20px;
  }
}